<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MVC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  	<!-- url에 servlet-mapping에 지정해 놓은 url-pattern이 입력되면 -->
  	<!-- serlet에서 해당 servlet-name의 servlet-class로 연결해준다 -->
  	<!-- init-param은 해당 서블릿 내에서만 사용할 수 있는 파마리터를 생성한다 지역변수라고 이해할 수 있다 -->
  	<!-- context-param으로 모든 서블릿에서 사용가능한 파라미터를 생성할 수 있다 -->
  	<!-- context-param은 servlet태그 밖에 독리집적으로 생성하여 param-name, value 지정 -->
  	<servlet>
		<servlet-name>c</servlet-name>
		<servlet-class>com.mvc.controller.FrontController</servlet-class>
		<init-param>
			<param-name>configFile</param-name>
			<param-value>\WEB-INF\commandURL.properties</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>c</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- 서블릿은 기본적으로 요청이 들어와야 객체화되어 생성된다 -->	
	<!-- load-on-startup 값이 음수인 경우가 기본값이다 -->
	<!-- load-on-startup이 0이 아닌 양의 정수일 경우 서블릿 컨테이너(톰캣)가 실행됨과 동시에 서블릿이 생성 초기화 된다 -->
	<!-- 양의 정수 중 숫자가 작은 서블랫이 먼저 실행되며 숫자가 같을 경우 먼저 선언된 서블릿이 먼저 동작한다-->
	<servlet>
		<servlet-name>d</servlet-name>
		<servlet-class>com.mvc.database.DBConnect</servlet-class>
		<init-param>
			<param-name>j</param-name>
			<param-value>oracle.jdbc.driver.OracleDriver</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
  
</web-app>

